* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    background-color: black;
    animation-name: background_img;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.txt-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 90vh;
    border: 2px solid white;
    overflow: hidden;
}

h1 {
    color: rgb(0, 174, 255);
    font-size: 100px;
    font-style: italic;
    position: absolute;
    top: 40%;
    left: 30%;
    animation-name: h1_bye;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

img {
    width: 300px;
    margin: 40px;
}

.text_def {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    text-align: justify;
    transform: perspective(300px) rotateX(30deg);
    animation-name: p_avandce;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    /*animation-delay: 3s;*/
    animation-timing-function: linear;
    color: orange;
}

h2 {
    color:rgb(0, 174, 255);
    font-size: 100px;
    margin: 40px;
}

p {
    font-size: 50px;
}

@keyframes background_img {
    0% {
        background-color: black;
    }
    100% {
        background-image: url(img/Background.png);
    }
}

@keyframes h1_bye {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes p_avandce {
    0% {
        transform: perspective(300px) rotateX(30deg) translateY(4000px);
    }
    100% {
        transform: perspective(300px) rotateX(30deg) translateY(-10000px);
    }
}